In [3]:
nama = "Bara Paramarta Widanoto"
umur = 19
berat = 59.8

print("Nama: ", nama)
print("Umur: ", umur, "tahun")
print("Berat: ", berat, "Kg")

Nama:  Bara Paramarta Widanoto
Umur:  19 tahun
Berat:  59.8 Kg

In [1]:
angka_string = "123"
angka_float = 45.67
angka_integer = 89

#angka_string menjadi integer
int_1 = int(angka_string)
print("Awal: ", angka_string, type(angka_string), "Jadi: ", int_1, type(int_1),)

#angka_float menjadi integer
int_2 = int(angka_float)
print("Awal: ", angka_float, type(angka_float), "Jadi: ", int_2, type(int_2),)

#angka_integer menjadi float
float_baru = float(angka_integer)
print("Awal: ", angka_integer, type(angka_integer), "Jadi: ", float_baru, type(float_baru),)

#angka_integer menjadi string
str_baru = str(angka_integer)
print("Awal: ", angka_integer, type(angka_integer), "Jadi: ", str_baru, type(str_baru),)

Awal:  123 <class 'str'> Jadi:  123 <class 'int'>
Awal:  45.67 <class 'float'> Jadi:  45 <class 'int'>
Awal:  89 <class 'int'> Jadi:  89.0 <class 'float'>
Awal:  89 <class 'int'> Jadi:  89 <class 'str'>

In [18]:
usia = int(input("Masukkan usia anda: "))
tinggi_badan = float(input("Masukkan tinggi badan anda: "))
nama = str(input("Masukkan nama anda: "))

Masukkan usia anda: 19
Masukkan tinggi badan anda: 175
Masukkan nama anda: Bara